[AFC_hub ace_hub]
switch_pin: virtual



[AFC_AFCACE Ace1]
serial_port:  /dev/serial/by-id/usb-ANYCUBIC_ACE_1-if00
hub: ace_hub
extruder: extruder5
mode: combined
feed_speed: 900
retract_speed: 700
feed_length: 3300.0            # Calibrate with AFCACE_CALIBRATE
retract_length: 3100.0         # Slightly longer than feed_length
use_feed_assist: True
sensor_approach_margin: 60
sensor_step: 50
calibration_step: 200
dock_purge: True              # default: False
dock_purge_length: 125         # mm to extrude while docked
dock_purge_speed: 11           # mm/s extrude speed
persistence_mode: deferred     # immediate (legacy option)
#flush_interval: 30


[AFC_lane lane12]
unit: Ace1:1
hub: ace_hub
extruder: extruder5

[AFC_lane lane13]
unit: Ace1:2
hub: ace_hub
extruder: extruder5

[AFC_lane lane14]
unit: Ace1:3
hub: ace_hub
extruder: extruder5

[AFC_lane lane15]
unit: Ace1:4
hub: ace_hub
extruder: extruder5

[temperature_sensor ace_temp]
sensor_type: temperature_ace
ace_unit: Ace1
min_temp: 0
max_temp: 70