[AFC_hub Hub_5]
afc_bowden_length: 2028.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False  

[AFC_hub Hub_6]
afc_bowden_length: 2037.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False  

[AFC_hub Hub_7]
afc_bowden_length: 2041.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False  

[AFC_hub Hub_8]
afc_bowden_length: 2027.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False 




[AFC_OpenAMS AMS_2]
oams: oams2
extruder: extruder5
buffer: FPS_buffer2
dock_purge: True           # default: False
dock_purge_length: 105      # mm to extrude while docked
dock_purge_speed: 7         # mm/s extrude speed
# capture_td1_when_loaded: True
# td1_device_id: 5044506110D9471C
stuck_spool_auto_recovery: True
# Stuck spool detection thresholds
stuck_spool_load_grace: 8.0
stuck_spool_pressure_threshold: 0.06
engagement_pressure_threshold: 0.6
clog_sensitivity: medium


[AFC_lane lane8]
unit: AMS_2:1
load_to_hub: False
hub: Hub_5
led_index: AFC_Tndicator:2
map: T8
extruder: extruder5

[AFC_lane lane9]
unit: AMS_2:2
load_to_hub: False
led_index: AFC_Tndicator:2
hub: Hub_6
map: T9
extruder: extruder5

[AFC_lane lane10]
unit: AMS_2:3
load_to_hub: False
led_index: AFC_Tndicator:2
hub: Hub_7
map: T10
extruder: extruder5

[AFC_lane lane11]
unit: AMS_2:4
load_to_hub: False
led_index: AFC_Tndicator:2
hub: Hub_8
map: T11
extruder: extruder5

 

