[AFC_hub Hub_1]
afc_bowden_length: 2031.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False                  # Hub cutter installed (e.g. Snappy)

[AFC_hub Hub_2]
afc_bowden_length: 2021.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False  

[AFC_hub Hub_3]
afc_bowden_length: 2046.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False  

[AFC_hub Hub_4]
afc_bowden_length: 2041.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False  




[AFC_OpenAMS AMS_1]
oams: oams1
extruder: extruder4
buffer: FPS_buffer1
stuck_spool_auto_recovery: True
# Stuck spool detection thresholds
stuck_spool_load_grace: 8.0
stuck_spool_pressure_threshold: 0.06
engagement_pressure_threshold: 0.6
clog_sensitivity: medium


[AFC_lane lane4]
unit: AMS_1:1
load_to_hub: False
#led_index: AFC_Sndicator:2
hub: Hub_1
map: T4
extruder: extruder4



[AFC_lane lane5]
unit: AMS_1:2
load_to_hub: False
#led_index: AFC_Sndicator:2
hub: Hub_2
map: T5
extruder: extruder4

[AFC_lane lane6]
unit: AMS_1:3
load_to_hub: False
#led_index: AFC_Sndicator:2
hub: Hub_3
map: T6
extruder: extruder4

[AFC_lane lane7]
unit: AMS_1:4
load_to_hub: False
#led_index: AFC_Sndicator:2
hub: Hub_4
map: T7
extruder: extruder4

