[gcode_macro OAMS_SYNC_VIRTUAL_PINS]
 description: Synchronize virtual pins with AMS filament status
 # Updates pins1-4 from oams1 and pins5-8 from oams2
 # Requires virtual_input_pin sections named pin1..pin8
 
 
 gcode:
 #  {% set vals1 = printer['oams oams1'].f1s_hes_value %}
 #  {% set vals2 = printer['oams oams2'].f1s_hes_value %}
 #     {% for i in range(4) %}
 #         SET_VIRTUAL_PIN PIN=pin{{i+1}} VALUE={{vals1[i]|int}}
 #     {% endfor %}
 #     {% for i in range(4) %}
 #         SET_VIRTUAL_PIN PIN=pin{{i+5}} VALUE={{vals2[i]|int}}
 #     {% endfor %}