[AFC_hub Hub_1]
afc_bowden_length: 2031.0   # Length of the Bowden tube from the hub to the toolhead sensor in mm.
cut: False                  # Hub cutter installed (e.g. Snappy)
switch_pin: virtual





[AFC_OpenAMS AMS_1]
oams: oams1
extruder: extruder4
buffer: FPS_buffer2
stuck_spool_auto_recovery: True
# Stuck spool detection thresholds
stuck_spool_load_grace: 8.0
stuck_spool_pressure_threshold: 0.06
engagement_pressure_threshold: 0.6
clog_sensitivity: medium
spoolman_flow_sync: True
hub: Hub_1

[AFC_lane lane4]
unit: AMS_1:1
#led_index: AFC_Sndicator:2
map: T4
extruder: extruder4



[AFC_lane lane5]
unit: AMS_1:2
#led_index: AFC_Sndicator:2
map: T5
extruder: extruder4

[AFC_lane lane6]
unit: AMS_1:3
#led_index: AFC_Sndicator:2
map: T6
extruder: extruder4

[AFC_lane lane7]
unit: AMS_1:4

#led_index: AFC_Sndicator:2
map: T7
extruder: extruder4

