[force_move]
enable_force_move: True

[AFC_extruder extruder]
pin_tool_start: buffer
#pin_tool_start: EBBT0:PB3
#pin_tool_end: None
tool_stn: 92                    # Distance in mm from the toolhead sensor to the tip of the nozzle in mm, if `tool_end` is defined then distance is from this sensor
tool_stn_unload: 110            # Distance to move in mm while unloading toolhead
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amout to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 7             # Load speed in mm/s when unloading toolhead. Default is 25mm/s.
deadband: 5
toolchanger_unit: Tools
tool_number: 0
detection_pin: ^EBBT0:PB6
tool_fan: T0_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0.04 #-0.04 #-0.130 #-1.07
resonance_chip: adxl345 T0
params_park_x: 145.15 #145.55 #149.1 #143.9 #172.6 #170.4 #224.6 #227.9 #152.9
params_park_y: -5.1  #-3.60 #-6.3 #12.7 #21.4 #16 #29 #25 #24.25
params_park_z: 318.2  #275.5 ##273 #2740
params_safe_y: 110
params_input_shaper_type_x: 'mzv'
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_x: 49.0
params_input_shaper_freq_y: 36.0
params_input_shaper_damping_ratio_x: 0.127
params_input_shaper_damping_ratio_y: 0.087


[AFC_extruder extruder1]
pin_tool_start: buffer
#pin_tool_start:EBBT1:PB3
#pin_tool_end: None
tool_stn: 92                    # Distance in mm from the toolhead sensor to the tip of the nozzle in mm, if `tool_end` is defined then distance is from this sensor
tool_stn_unload: 110            # Distance to move in mm while unloading toolhead
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amout to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 7             # Load speed in mm/s when unloading toolhead. Default is 25mm/s.
deadband: 5
toolchanger_unit: Tools
tool_number: 1
detection_pin: ^EBBT1:PB6
tool_fan: T1_partfan
gcode_x_offset: 1.091
gcode_y_offset: -0.728
gcode_z_offset: -0.090 #-0.2256 #0.050 #-0.054 #0.0764 #0.122
resonance_chip: adxl345 T1
led_name: AFC_led AFC_Sndicator
status_led_idx: 1
nozzle_led_idx: 2
params_park_x: 274.1 #275.2 #278.9 #273.7 #314.86 #321.5 #144.9
params_park_y: -5.6 #-5.5 #-6.6 #-4.95 #9.5 #18.2 #29 #10
params_park_z: 319.0  #268.65
params_safe_y: 110
params_input_shaper_type_x: 'mzv'
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_x: 56.2
params_input_shaper_freq_y: 39.8
params_input_shaper_freq_z: 59.6
params_input_shaper_damping_ratio_z: 0.057
params_input_shaper_damping_ratio_x: 0.062
params_input_shaper_damping_ratio_y: 0.061


[AFC_extruder extruder2]
pin_tool_start: buffer
#pin_tool_start: EBBT2:PB3
#pin_tool_end: None
tool_stn: 92                    # Distance in mm from the toolhead sensor to the tip of the nozzle in mm, if `tool_end` is defined then distance is from this sensor
tool_stn_unload: 110            # Distance to move in mm while unloading toolhead
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amout to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 7             # Load speed in mm/s when unloading toolhead. Default is 25mm/s.
deadband: 5
toolchanger_unit: Tools
tool_number: 2
detection_pin: ^EBBT2:PB6
tool_fan: T2_partfan
gcode_x_offset: 1.73
gcode_y_offset: 0.0
gcode_z_offset: -0.3207 #-0.2619 #-0.253 #-0.285 #0.130 #0.130 #0.145
resonance_chip: adxl345 T2
params_park_x: 81.2 #80.7 #83.9 #78.7 #100.8 #105 #104.5 #144.9
params_park_y: -7.3 #-6.0 #-7.0 #6.4 #9.5 #18.2 #29 #10
params_park_z: 319.5 #268.65
params_safe_y: 110
params_input_shaper_type_x: 'mzv'
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_x: 50.0
params_input_shaper_freq_y: 36.6
params_input_shaper_freq_z: 59.6
params_input_shaper_damping_ratio_z: 0.057
params_input_shaper_damping_ratio_x: 0.080
params_input_shaper_damping_ratio_y: 0.150


[AFC_extruder extruder3]
pin_tool_start: buffer
#pin_tool_start: EBBT3:PB3
#pin_tool_end: None
tool_stn: 92                    # Distance in mm from the toolhead sensor to the tip of the nozzle in mm, if `tool_end` is defined then distance is from this sensor
tool_stn_unload: 110            # Distance to move in mm while unloading toolhead
tool_sensor_after_extruder: 0   # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amout to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 7             # Load speed in mm/s when unloa  ding toolhead. Default is 25mm/s.
deadband: 5
toolchanger_unit: Tools
tool_number: 3
detection_pin: ^EBBT3:PB6
tool_fan: T3_partfan
gcode_x_offset: 1.270
gcode_y_offset: -1.390
gcode_z_offset: -0.3173 #-0.430 #-0.165 #-0.295 #-0.016 #-0.044
resonance_chip: adxl345 T3
params_park_x: 211.0 #211.0 #215.4 #210.2 #245.1 #144.9
params_park_y: -6.9 #-5.9 #-7.5 #-5.95 #9.5 #18.2 #29 #10
params_park_z: 319.0 #268.65
params_safe_y: 110
params_input_shaper_type_x: 'mzv'
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_x: 49.6
params_input_shaper_freq_y: 37.0
params_input_shaper_freq_z: 59.6
params_input_shaper_damping_ratio_z: 0.057
params_input_shaper_damping_ratio_x: 0.080
params_input_shaper_damping_ratio_y: 0.150


[AFC_extruder extruder4]
pin_tool_start: buffer
#buffer: FPS_buffer1
#pin_tool_start: ^!EBBT4:PB6
#pin_tool_end: ^!EBBT4:PB3
tool_stn: 38.0                  # Distance in mm from the toolhead sensor to the tip of the nozzle in mm, if `tool_end` is defined then distance is from this sensor
tool_stn_unload: 49.0          # Distance to move in mm while unloading toolhead
tool_sensor_after_extruder: 0.0 # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amout to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 7             # Load speed in mm/s when loading toolhead. Default is 25mm/s.
deadband: 5
toolchanger_unit: Tools
tool_number: 4
detection_pin: ^EBBT4:PB8
tool_fan: T4_partfan
gcode_x_offset: 0.710
gcode_y_offset: 0.403
gcode_z_offset: -0.489 #-0.7690 #-0.370 #-0.3851 #-0.447 #-0.107 #-0.158
resonance_chip: adxl345 T4
params_park_x: 342.7 #344.9 #343.2 #314.86 #321.5 #144.9
params_park_y: -2.8 #-3.8 #-4.95 #9.5 #18.2 #29 #10
params_park_z: 317.9 #268.65
params_safe_y: 110
params_input_shaper_type_x: 'mzv'
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_x: 52.0
params_input_shaper_freq_y: 37.6
params_input_shaper_freq_z: 59.6
params_input_shaper_damping_ratio_z: 0.057
params_input_shaper_damping_ratio_x: 0.080
params_input_shaper_damping_ratio_y: 0.140


[AFC_extruder extruder5]
#pin_tool_start: ^!EBBT5:PB6
pin_tool_start: buffer
#buffer: FPS_buffer2
#pin_tool_end: ^!EBBT5:PB3
tool_stn: 38.0                  # Distance in mm from the toolhead sensor to the tip of the nozzle in mm, if `tool_end` is defined then distance is from this sensor
tool_stn_unload: 65.0          # Distance to move in mm while unloading toolhead
tool_sensor_after_extruder: 0.0 # Extra distance to move in mm once pre/post sensors are clear. Useful for when only using post sensor, so this distance can be the amout to move to clear extruder gears
tool_unload_speed: 25           # Unload speed in mm/s when unloading toolhead. Default is 25mm/s.
tool_load_speed: 7             # Load speed in mm/s when unloading toolhead. Default is 25mm/s.
deadband: 5
toolchanger_unit: Tools
tool_number: 5
detection_pin: ^EBBT5:PB3
tool_fan: T5_partfan
gcode_x_offset: -0.1547
gcode_y_offset: 0.663
gcode_z_offset: -0.4227 #0.075 #-0.250 #-0.335 #-0.205 #-0.220 #-0.193250
resonance_chip: adxl345 T5
led_name: AFC_led AFC_Tndicator
status_led_idx: 1
params_park_x: 11.95 #11.85#12.7 #10.7 #30.8 #23.3 #38.8 #62.9 #68.5
params_park_y: -6.2 #-7.2 #-5.7 #-7.7 #6.6 #12.6 #18.6 #17.2 #30
params_park_z: 319.7 #275.3
params_safe_y: 110
params_input_shaper_type_x: 'mzv'
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_x: 45.2
params_input_shaper_freq_y: 28.2
params_input_shaper_freq_z: 59.6
params_input_shaper_damping_ratio_z: 0.057
params_input_shaper_damping_ratio_x: 0.010
params_input_shaper_damping_ratio_y: 0.026


#[filament_switch_sensor bypass]
#switch_pin: turtleneck:PB5
#pause_on_runout: False
