# include these macros in your config to support automatically
# switching accelerometer chips when using the [input_shaper] is enabled
# Updated for native AFC toolchanger (no KTC dependency)


[gcode_macro TEST_RESONANCES]
rename_existing: TEST_RESONANCES_BASE
gcode:
    {% set tc = printer['AFC_Toolchanger Tools'] %}
    {% if tc.status == "uninitialized" %}
      RESPOND TYPE=error MSG='Toolchanger is not initialized. Please run INITIALIZE_TOOLCHANGER.'
    {% elif tc.tool is none %}
      RESPOND TYPE=error MSG='No tool selected. Please select a tool first.'
    {% else %}
      {% set tool = printer['AFC_extruder ' ~ tc.tool] %}
      {% if tool.resonance_chip %}
        {% set newparams = rawparams ~ " CHIPS=\"" ~ tool.resonance_chip ~ "\"" %}
        RESPOND TYPE=echo MSG='{"Test Resonances for " ~ tc.tool}'
        TEST_RESONANCES_BASE {newparams}
      {% else %}
        RESPOND TYPE=error MSG='{"No resonance_chip configured for " ~ tc.tool}'
      {% endif %}
    {% endif %}

[gcode_macro SHAPER_CALIBRATE]
rename_existing: SHAPER_CALIBRATE_BASE
gcode:
    {% set tc = printer['AFC_Toolchanger Tools'] %}
    {% if tc.status == "uninitialized" %}
      RESPOND TYPE=error MSG='Toolchanger is not initialized. Please run INITIALIZE_TOOLCHANGER.'
    {% elif tc.tool is none %}
      RESPOND TYPE=error MSG='No tool selected. Please select a tool first.'
    {% else %}
      {% set tool = printer['AFC_extruder ' ~ tc.tool] %}
      {% if tool.resonance_chip %}
        {% set newparams = rawparams ~ " CHIPS=\"" ~ tool.resonance_chip ~ "\"" %}
        RESPOND TYPE=echo MSG='{"Shaper Calibrate for " ~ tc.tool}'
        SHAPER_CALIBRATE_BASE {newparams}
      {% else %}
        RESPOND TYPE=error MSG='{"No resonance_chip configured for " ~ tc.tool}'
      {% endif %}
    {% endif %}

[gcode_macro ACCELEROMETER_QUERY]
rename_existing: ACCELEROMETER_QUERY_BASE
gcode:
    {% set tc = printer['AFC_Toolchanger Tools'] %}
    {% if tc.status == "uninitialized" %}
      RESPOND TYPE=error MSG='Toolchanger is not initialized. Please run INITIALIZE_TOOLCHANGER.'
    {% elif tc.tool is none %}
      RESPOND TYPE=error MSG='No tool selected. Please select a tool first.'
    {% else %}
      {% set tool = printer['AFC_extruder ' ~ tc.tool] %}
      {% if tool.resonance_chip %}
        {% set reschip = tool.resonance_chip.split()[1] %}
        {% set newparams = rawparams ~ " CHIP=\"" ~ reschip ~"\"" %}
        RESPOND TYPE=echo MSG='{"Accelerometer Query for %s with Chip %s" % (tc.tool, reschip)}'
        ACCELEROMETER_QUERY_BASE {newparams}
      {% else %}
        RESPOND TYPE=error MSG='{"No resonance_chip configured for " ~ tc.tool}'
      {% endif %}
    {% endif %}
