[mcu EBBT0]
canbus_uuid=7b528b6df2b7

# [tool T0] settings moved to [AFC_extruder extruder] in AFC/AFC_Hardware.cfg

[adxl345 T0]
cs_pin: EBBT0: PB12
spi_software_sclk_pin: EBBT0: PB10
spi_software_mosi_pin: EBBT0: PB11
spi_software_miso_pin: EBBT0: PB2
axes_map: x,z,-y

[tmc2209 extruder]
uart_pin: EBBT0: PA15
interpolate: false
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0

[extruder]
step_pin: EBBT0:PD0
dir_pin: EBBT0:PD1
enable_pin: !EBBT0:PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBT0: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBT0:PA3
max_power: 1.0
min_temp: -235
max_temp: 500
min_extrude_temp: 195
pressure_advance: 0.032
pressure_advance_smooth_time:0.040
control=pid
pid_kp : 22.357
pid_ki : 3.857
pid_kd : 15.780
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 120.0
max_extrude_cross_section: 8

[fan_generic T0_partfan]
 pin: EBBT0:PA0

[heater_fan T0_hotend_fan]
pin: EBBT0:PA1
heater: extruder
heater_temp: 50.0
kick_start_time: 0.5

# [gcode_macro T0] - removed, native AFC toolchanger registers T commands
