[rounded_path]
resolution: 0.2
replace_g0: False

[force_move]
enable_force_move: True

[gcode_macro SET_TEMPERATURE_WITH_DEADBAND]
variable_default_deadband: 10.0

# [toolchanger] section removed - now handled by [AFC_Toolchanger Tools] in AFC/AFC_Hardware.cfg
# All tool settings moved to [AFC_extruder *] sections in AFC/AFC_Hardware.cfg

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
  INITIALIZE_TOOLCHANGER
  RESUME_BASE

# Tool alignment macros updated for native AFC toolchanger
[gcode_macro TOOL_ALIGN_START]
gcode:
    INITIALIZE_TOOLCHANGER # Detect current tool
    _TOOL_ALIGN_START

[gcode_macro _TOOL_ALIGN_START]
gcode:
    {% set tc = printer['AFC_Toolchanger Tools'] %}
    {% set tool = printer['AFC_extruder ' ~ tc.tool] %}
    ENTER_DOCKING_MODE
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    G0 X{tool.params_park_x} Z{tool.params_park_z}
    G0 Y{tool.params_park_y|float + 100.0}

[gcode_macro TOOL_ALIGN_TEST]
gcode:
    {% set curpos = printer.gcode_move.gcode_position %}
    {% if curpos[1] > 0 %}
      # Check if Y is not too far, to very unrealistic tests.
      RESPOND TYPE=error MSG='Test aborted. Tool too far away from the dock.'
    {% else %}
      G0 X{curpos[0]} Y{curpos[1]} Z{curpos[2]}
    {% endif %}

[gcode_macro TOOL_ALIGN_DONE]
gcode:
    {% set tc = printer['AFC_Toolchanger Tools'] %}
    {% set tool = printer['AFC_extruder ' ~ tc.tool] %}
    G0 Y{tool.params_safe_y} F{tool.params_fast_speed}
    EXIT_DOCKING_MODE
