[Unit]
Description=USB QR Scanner Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/afc-spool-scan/usb-qr-scanner-read.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
