[include mcu/AFC_Lite_HTLFclaymore.cfg]

[mcu HTLF_claymore]
# canbus_uuid: <insert can id here>
serial: <insert your serial here>

[temperature_sensor HTLF_claymore]
sensor_type: temperature_mcu
sensor_mcu: HTLF_claymore

[AFC_HTLFclaymore HTLF_claymore_1]
hub: HTLF_claymore
extruder: extruder
buffer: HTLF_claymore_buffer
drive_stepper: HTLF_claymore_drive
selector_stepper: HTLF_claymore_selector
long_moves_speed: 300
long_moves_accel: 300
enable_buffer_tool_check: True

[AFC_stepper HTLF_claymore_drive]
unit: HTLF_claymore_1
step_pin: HTLF_claymore:M1_STEP
dir_pin: !HTLF_claymore:M1_DIR
enable_pin: !HTLF_claymore:M1_EN
microsteps: 16
gear_ratio: 40:20               # 20T
rotation_distance: 35.1          # 20T, Calibrate for your setup

[tmc2209 AFC_stepper HTLF_claymore_drive]
sense_resistor: 0.110
uart_pin: HTLF_claymore:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper HTLF_claymore_selector]
unit: HTLF_claymore_1
step_pin: HTLF_claymore:M2_STEP
dir_pin: HTLF_claymore:M2_DIR
enable_pin: !HTLF_claymore:M2_EN
microsteps: 16
gear_ratio: 40:20               # 20T
rotation_distance: 35.5          # 20T, Calibrate for your setup

[tmc2209 AFC_stepper HTLF_claymore_selector]
uart_pin: HTLF_claymore:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_lane lane1]
unit: HTLF_claymore_1:1
dist_hub: 100
led_index: HTLF_claymore_Indicator_1:1
afc_motor_rwd: HTLF_claymore:MOT1_RWD
afc_motor_fwd: HTLF_claymore:MOT1_FWD
afc_motor_enb: HTLF_claymore:MOT1_EN
fwd_speed_multiplier: 0.3
pwm: True
load: ^HTLF_claymore:LOAD1
selector: !HTLF_claymore:SEL1


[AFC_lane lane2]
unit: HTLF_claymore_1:2
dist_hub: 29.83 
led_index: HTLF_claymore_Indicator_1:2
afc_motor_rwd: HTLF_claymore:MOT2_RWD
afc_motor_fwd: HTLF_claymore:MOT2_FWD
afc_motor_enb: HTLF_claymore:MOT2_EN
fwd_speed_multiplier: 0.3
pwm: True
load: ^HTLF_claymore:LOAD2
selector: !HTLF_claymore:SEL2

[AFC_lane lane3]
unit: HTLF_claymore_1:3
dist_hub: 100 
led_index: HTLF_claymore_Indicator_1:3
afc_motor_rwd: HTLF_claymore:MOT3_RWD
afc_motor_fwd: HTLF_claymore:MOT3_FWD
afc_motor_enb: HTLF_claymore:MOT3_EN
fwd_speed_multiplier: 0.3
pwm: True
load: ^HTLF_claymore:LOAD3
selector: !HTLF_claymore:SEL3

[AFC_lane lane4]
unit: HTLF_claymore_1:4
dist_hub: 100
led_index: HTLF_claymore_Indicator_1:4
afc_motor_rwd: HTLF_claymore:MOT4_RWD
afc_motor_fwd: HTLF_claymore:MOT4_FWD
afc_motor_enb: HTLF_claymore:MOT4_EN
fwd_speed_multiplier: 0.3
pwm: True
load: ^HTLF_claymore:LOAD4
selector: !HTLF_claymore:SEL4

[AFC_hub HTLF_claymore]
afc_bowden_length: 1015.036
cut: False
switch_pin: HTLF_claymore:HUB

[AFC_buffer HTLF_claymore_buffer]
advance_pin: ^!HTLF_claymore:ADV
trailing_pin: ^!HTLF_claymore:TRL
multiplier_high: 1.15
multiplier_low: 0.90

[AFC_led HTLF_claymore_Indicator_1]
pin: HTLF_claymore:RGB1
chain_count: 4
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0